@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
.appetizer{
  background: url('/public/images/homepage/appetizer.jpg') center;
  background-size: cover;
<<<<<<< HEAD
  box-shadow: inset 0 -10em 12em #5c5c5c
=======
  box-shadow: inset 0 -10em 12em #5c5c5c;
  width: 100%;
  height: 100%;
>>>>>>> 77b54b46424960bdd2cf7ccfb3a2614090b111f9
}
.sidedish{
  background: url('/public/images/homepage/sidedish.png') center;
  background-size: cover;
<<<<<<< HEAD
  box-shadow: inset 0 -10em 15em #5c5c5c
=======
  box-shadow: inset 0 -10em 15em #5c5c5c;
  width: 100%;
  height: 100%;
>>>>>>> 77b54b46424960bdd2cf7ccfb3a2614090b111f9
}
.maindish{
  background: url('/public/images/homepage/maindish.jpg') center;
  background-size: cover;
<<<<<<< HEAD
  box-shadow: inset 0 -10em 15em #5c5c5c
=======
  box-shadow: inset 0 -10em 15em #5c5c5c;
  width: 100%;
  height: 100%;
>>>>>>> 77b54b46424960bdd2cf7ccfb3a2614090b111f9
}
.dessert{
  background: url('/public/images/homepage/dessert.png') center;
  background-size: cover;
<<<<<<< HEAD
  box-shadow: inset 0 -10em 15em #5c5c5c
}
.carousel-item a {
  text-decoration: none;
  color: #f7f3eb;
  font-family: "Playfair Display SC";
}
.carousel-item h1 {
  font-size: 6em;
  font-weight: bold;
  text-transform: uppercase;
  width: max-content ;
  height: max-content ;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
=======
  box-shadow: inset 0 -10em 15em #5c5c5c;
  width: 100%;
  height: 100%;
}
.carousel {
  height: 28%;
}
.carousel .carousel-item {
  height: 100%;
  text-decoration: none;
  color: #f7f3eb;
  font-family: "Playfair Display SC";
  span {
    font-size: 5em;
    font-weight: bold;
    text-transform: uppercase;
    height: max-content;
    margin: auto;
  }
}
// .carousel .carousel-item a :hover
// {
//   color: #f7f3eb;
// }

@media (max-width: 992px)
 {
  .carousel
  {
    height: 19%;
    .carousel-item 
    {
      span {
        font-size: 3em;
        font-weight: bold;
        text-transform: uppercase;
        height: max-content;
        margin: auto;
      }
    }
  } 
>>>>>>> 77b54b46424960bdd2cf7ccfb3a2614090b111f9
}