// Background colour for edit recipe page
.edit-recipe {
    background-color: #f7f3eb;
<<<<<<< HEAD
=======
    .row .edit-arrow
    {
        font-size: 5em;
    }
}

// Breadcrumb section styling
#breadcrumb-section {
    font-weight: bold;
    align-items: center;
}
#breadcrumb-section a {
    color: #887569;
}
#breadcrumb-section i {
    color: #887569;
    margin: auto 0.4em;
>>>>>>> 77b54b46424960bdd2cf7ccfb3a2614090b111f9
}

// Border colour for the inputs
input.recipe-inp,
select.recipe-inp,
textarea.recipe-inp {
    border-color: #e45900;
}

// bg colour and text colour for update button
button.updaterecipe {
    background-color: #e45900;
<<<<<<< HEAD
    color: white;
=======
    color: #FEFDFD;
>>>>>>> 77b54b46424960bdd2cf7ccfb3a2614090b111f9
}

// bg colour and text colour for update button upon hover
button.updaterecipe:hover {
    background-color: #e45900;
<<<<<<< HEAD
    color: white;
}
=======
    color: #FEFDFD;
}
.mb-3 .btn-delete{
    border-color: #E40000;
    color: #E40000;
}
.mb-3 .btn-delete:hover{
    border-color: #E40000;
    color: #E40000;
}
.edit-recipe .row .img-thumbnail{
    width: 100%;
    max-height: 25em;
    min-height: 30em;
    object-fit: cover;
    object-position: center;
}

//responsive style
@media (max-width: 992px)
 {
    .edit-recipe 
    {
        .row .edit-arrow
        {
            font-size: 3em;
        }
        .row .img-thumbnail
        {
            width: 100%;
            max-height: 10em;
            min-height: 15em;
            object-fit: cover;
            object-position: center;
        }
    }
}
>>>>>>> 77b54b46424960bdd2cf7ccfb3a2614090b111f9
