body, td {
    color: #4D1F01 !important;
}
// footer
.footer{
    color: #F7F3EB;
    // margin-top: 50px;
    font-family: nunito;
}
.address{
    color: #F7F3EB;
}
.footer-custom{
    background: #2E1301 url("/public/images/Logo_brown.png") no-repeat center center;
}
.we{
    color: #E45900;
    font-weight: bold;
}
.cook{
    color: #F7F3EB;
    font-weight: bold;
}
.list-unstyled>li>a{
    color: #F7F3EB;
    text-decoration: none;
    } 
.wecook{
    text-decoration: none;
}
.disabled-link {
    color: #887569 !important;
    cursor: not-allowed;
    text-decoration: none;
}

.disabled-link:hover {
    text-decoration: none;
}

.footer #searchbar{
    width: 15em;
    height: 2em;
    outline: 1px solid #F7F3EB;
    border-radius: 0.5rem;
    background-color: #2E1301;
    padding: 0.7em;
    color: #F7F3EB;
    font-family: Bootstrap-icons, "Nunito";
  } 
  .footer #searchbar::placeholder{
    color: #887569;
  }
