// login card
<<<<<<< HEAD
#login-card{
  background-color: #F7F3EB;
  border-radius: 30px;
}

// login card title
.login-card-ttl{
  font-size: 35px;
  color: #4D1F01;
}

// login card button
#login-card-btn{
  color: white;
  background-color: #E45900;
}

// login card register
.register-link{
  color: #E45900;
}

// login page background
.login-bg{
  background-image: url(/public/imgs/regi.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.are-you-new{
  color: #4D1F01;
}
=======
#login-card {
    background-color: #f7f3eb;
    border-radius: 30px;
    font-family: "Nunito";
}

// login card title
.login-card-ttl {
    font-size: 35px;
    color: #4d1f01;
}

// login card button
#login-card-btn {
    color: white;
    background-color: #e45900;
}

// login card register
.register-link {
    color: #e45900;
}

// login page background
.login-bg {
    background-image: url(/public/imgs/regi.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.are-you-new {
    color: #4d1f01;
}
>>>>>>> 77b54b46424960bdd2cf7ccfb3a2614090b111f9
