// login card
#login-card {
    background-color: #f7f3eb;
    border-radius: 30px;
    font-family: "Nunito";
}

// login card title
.login-card-ttl {
    font-size: 35px;
    color: #4d1f01;
}

// login card button
#login-card-btn {
    color: white;
    background-color: #e45900;
}

// login card register
.register-link {
    color: #e45900;
}

// login page background
.login-bg {
    background-image: url(/public/imgs/regi.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.are-you-new {
    color: #4d1f01;
}
