.tab-content {
    .container {
        .row {
            .col-md-6 {
                .card {
                    height: 71%;
                    .card-itself {
                        .myrecipe-header {
                            // display: flex;
                            margin-bottom: 5%;
                            justify-content: space-between;
                            align-items: center;
                            .card-title {
                                font-weight: bold;
                                font-size: 35px;
                                color: #2E1301;
                                margin-top: 10px;
                                margin-left: 20px;
                            }
                            .edit-icon {
                                color: #E45900;
                                font-size: 30px;
                                margin-right: 20px;
                                margin-top: 8px;
                            }
                        }
                        .image-container {
                            align-items: center;
                            img {
                                align-items: center;
                                // object-fit: cover;
                                width: 100%;
                                max-height: 20rem;
                                min-height: 8em;
                                object-fit: auto;
                                object-position: center;
                                margin: .7em auto 0 auto;
                                box-shadow: .05em .05em .08em #5c5c5c62;
                            }
                        }
                        .myrecipe-footer {
                            // display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-top: 5%;
                            .comment-icon,
                            .bookmark-icon {
                                color: #E45900;
                                margin-top: 10%;
                                margin-top: 10%;
                                margin-bottom: 10%;
                                font-size: 30px;
                            }
                            .comment-text,
                            .bookmark-text {
                                color: #2E1301;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}