.navbar-expand-lg{
  font-family: "Nunito";
  color:#F7F3EB;
  background-color: #2E1301;
}
.navbar-expand-lg .container-fluid {
  background-color: #2E1301;
}
.navbar img {
  height: 2.4em;
  width: 2.6em;
  object-fit: cover;
  // object-position: center;
}
.wecook{
  font-size:2.2rem;
  font-weight: bold;
  color: #F7F3EB
}
.we {
  color: #E45900;
}
.navbar-expand-lg a {
  text-decoration: none;
  font-weight: bold;
  color: #F7F3EB;
  i {
    color: inherit;
  }
}
.navbar-expand-lg a:visited,
.navbar-expand-lg a:hover{
  color: inherit;
}
.account button{
  font-weight: bold;
  text-decoration: inherit;
  color: #F7F3EB;
  background-color: #2E1301;
  border: none;
}
#account-dropdown:focus
{
  color: #F7F3EB;
  }
#account-dropdown:hover{
color: #F7F3EB;
}
.account div{
  background-color: #2E1301;
  color: inherit;
}
.navbar-nav .account div a:visited{
  background-color: #2E1301;
  color: #F7F3EB;
  font-weight: bold;
}
.navbar-nav .account div a:hover{
  background-color: #F7F3EB;
  color: #2E1301;
  font-weight: bold;
}
.navbar form{
  max-width: 100%;
  min-width: 20em;
}
#searchbar{
  height: 2em;
  outline: 1px solid #F7F3EB;
  border-radius: 0.5rem;
  background-color: #2E1301;
  padding: 0.7em;
  color: #F7F3EB;
  font-family: Bootstrap-icons, "Nunito";
} 
#searchbar::placeholder{
  color: #887569;
}

//Responsive style
.navbar-dark button.navbar-toggler{
  border-color: rgba(0, 0, 0, 0);
  :visited {
    border-color: rgba(0, 0, 0, 0);
  }
  :active{
    border-color: rgba(0, 0, 0, 0);
  }
}
.navbar-expand-lg button.navbar-toggler.collapse{
  border-color: rgba(0, 0, 0, 0);
  :visited {
   border-color: rgba(0, 0, 0, 0);
  }
  :active{
    border-color: rgba(0, 0, 0, 0);
  }
}

@media (max-width: 992px)
 {
  .navbar-nav 
  {
    text-align: right;
    .account li .dropdown-menu
    {
      text-align: right;
      border: transparent;
    }
    .account li .dropdown-item
    {
      width: min-content;
      margin-left: auto;
      color: #F7F3EB;
    }
    .account li .dropdown-item:hover
      {
        background-color: #F7F3EB;
        color: #2E1301;
      }
      #searchbar{
        margin-left: auto;
      }
  }
}