.row {
  margin: 2em auto 1em auto;
}
.card .recipe_photo{
  // width: 320px;
  // height: 240px;
  width: 95%;
  max-height: 12em;
  min-height: 16em;
  object-fit: auto;
  object-position: center;
  margin: 2.5em auto 0 auto;
  box-shadow: .1em .1em .1em #5c5c5c62;
}
.row .card {
  width: 100%;
  margin-bottom: 3em;
  padding: .8em;
  border-radius: 1em 1em;
  box-shadow: .01em .1em .1em #5c5c5c62;
}
.card  .card-body{
  font-family: "Nunito";
}
.card .card-title {
  color: #4D1F01;
  font-weight: bold;
  // max-width: 9.2em;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: .5em;
  margin-left: -.5em;
  // margin-right: 1em;
}
.card  .card-body p {
  color: #5c5c5cbc;
  font-size: small;
  overflow: hidden;
  max-width: 100%;
  min-width: 80%;
  height: 6em;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.card a {
  margin-left: .3em;
  color: #e45900;
  text-decoration: none;
  font-family: FontAwesome;
  font: var(--fa-font-regular);
  font-size: 1.9em;
  text-shadow: .01em .01em .09em #5c5c5cbc;
  span {
    font-size: .5em;
    font-weight: bold;
  }
}