/* Register */
<<<<<<< HEAD
#register-card{
  background-color: #F7F3EB;
  border-radius: 30px;
}
.register-card-ttl{
  font-size: 35px;
  color: #4D1F01;
}
#register-btn{
  color: white;
  background-color: #E45900;
}
.login-link{
  color: #E45900;
}
.register-bg{
  background-image: url(/public/imgs/regi.png);
   background-size: cover;
   background-repeat: no-repeat;
}
.already-have-account{
  color: #4D1F01;
}
=======
#register-card {
    background-color: #f7f3eb;
    border-radius: 30px;
    font-family: "Nunito";
}
.register-card-ttl {
    font-size: 35px;
    color: #4d1f01;
}
#register-btn {
    color: white;
    background-color: #e45900;
}
.login-link {
    color: #e45900;
}
.register-bg {
    background-image: url(/public/imgs/regi.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.already-have-account {
    color: #4d1f01;
}
>>>>>>> 77b54b46424960bdd2cf7ccfb3a2614090b111f9
