/* Register */
#register-card{
  background-color: #F7F3EB;
  border-radius: 30px;
}
.register-card-ttl{
  font-size: 35px;
  color: #4D1F01;
}
#register-btn{
  color: white;
  background-color: #E45900;
}
.login-link{
  color: #E45900;
}
.register-bg{
  background-image: url(/public/imgs/regi.png);
   background-size: cover;
   background-repeat: no-repeat;
}
.already-have-account{
  color: #4D1F01;
}