*{
    color: #4D1F01;
    font-family: nunito;
}
.modal-dialog{
    border: #4D1F01;
}
.custom-modal-dialog{
    max-width: 700px; 
}

.modal-content{
    background-color: #F7F3EB;
    border: solid #4D1F01;
    border-width: thick;
    padding: 70px;
    text-align: center;
    border-radius: 40px;
}
.modal-header h2, .modal-body p, .modal-footer{
    width: 100%;
    text-align: center;
}
.modal-footer .btn-cancel, 
.modal-footer .btn-delete, 
.modal-footer .btn-activate
{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    color: #F7F3EB !important;
    background-color: #E45900;
    font-size: 20px;
    margin: 25px;
}
.account-name{
    color: #E45900;
}
