*{
    font-family: "Nunito";
    color: #F7F3EB;
}
.footer-custom{
    background: #2E1310 url("/public/images/Logo_brown.png") no-repeat center center;
}
.we{
    color: #E45900;
    font-weight: bold;
}
.cook{
    color: #F7F3EB;
    font-weight: bold;
}
.list-unstyled>li>a{
    color: #F7F3EB;
    text-decoration: none;
    } 
