.breadcrumb
{
  color: #887569;
  font-weight: bold;
  align-items: center;
  a {
    text-decoration: none;
    color: #887569;
  }
  a:nth-of-type(3) {
    text-decoration: none;
    color: #e45900;
  }
}
.writer_account
{
  color: #2e1301;
  font-size: 24px;
  font-weight: bold;
  a{
    text-decoration: none;
    color: #2e1301;
  }
}
.writer_account img {
  height: 2.4em;
  width: 2.6em;
}
/* writer tab */
.tab_menu 
{
  display: flex;
  align-items: flex-end;
  min-height: 80px;
  max-height: 100px;
  width: 100%;
  font-size: 32px;
  box-shadow: #4D1F01;
}
.tab_menu-item 
{
  color: #887569;
  font: bold 72% "Nunito";
  list-style: none;
  min-width: 18%;
  // max-width: 180px;
  padding: 1rem .2rem;
  text-align: center;
  margin-right: 0.8%;
  margin-top: 0;
  background-color: #DBD2C8;
  border-top-left-radius: 0.5em 0.5em;
  border-top-right-radius: 0.5em 0.5em;
  cursor: grab;
  transition: all 0.2s;
  box-shadow: .1em -.01rem 1px rgba(0, 0, 0, 0.196);
  span{
    font-size: 0.8em;
    color: #887569;
  }
}
.tab_menu-item:first-of-type {
  min-width: 24%;
}
  /* is-active style */
.tab_menu-item.is-active 
{
  background-color: #f7f3eb;
  color: #4D1F01;
  padding: 1.3rem 0;
  text-decoration: underline  #88756965;
  font-size: 0.8em;
  span{
    font-size: 0.8em;
    color: #4D1F01;
  }
}
  /* tab panel style */
.tab_panel-box
{
  /* min-height: 80%; */
  box-shadow: .1em .1rem 3px rgba(0, 0, 0, 0.253);
  padding: 1rem 0.3rem;
  border-radius: .2rem 1rem 1rem 1rem;
  background-color: #f7f3eb;
  display: none;
}

.tab_panel-box.is-show {
  display: block;
}

