
*{
  font-family: "Nunito";
  color:#F7F3EB;
}
.navbar{
  background-color: #2E1310;
}
.navbar img {
  height: 2.4em;
  width: 2.6em;
}
.we {
  color: #E45900;
}
.wecook{
  font-size:2rem;
  font-weight: bold;
}
.navbar a {
  text-decoration: none;
  font-weight: bold;
  color: #F7F3EB;
}
.navbar a:visited,
.navbar a:hover{
  color: inherit;
}
.account button{
  font-weight: bold;
  text-decoration: inherit;
  color: #F7F3EB;
}
#account-dropdown:focus{
  color: white;
  }
#account-dropdown:hover{
color: white;
}
.account div{
  background-color: #2E1310;
  color: inherit;
}
.account div a:visited{
  background-color: inherit;
  color: inherit;
  font-weight: bold;
}
.account div a:hover{
  background-color: #F7F3EB;
  color: #2E1310;
  font-weight: bold;
}
#searchbar{
  width: 400px;
  height: 2em;
  outline: 1px solid #F7F3EB;
  border-radius: 0.5rem;
  background-color: #2E1310;
  padding: 0.7em;
  color: #F7F3EB;
  font-family: Bootstrap-icons, "Nunito";
} 
#searchbar::placeholder{
  color: #887569;
}
/* homepage tab */
/* shodow not yet */
.tab_menu 
{
  display: flex;
  align-items: flex-end;
  min-height: 80px;
  max-height: 100px;
  width: 100%;
  font-size: 32px;
}
.tab_menu-item 
{
  color: #887569;
  font: bold 75% "Nunito";
  list-style: none;
  min-width: 18%;
  max-width: 200px;
  padding: 1rem .2rem;
  text-align: center;
  margin-right: 0.8%;
  background-color: #DBD2C8;
  border-top-left-radius: 0.5em 0.5em;
  border-top-right-radius: 0.5em 0.5em;
  cursor: grab;
  transition: all 0.2s;
}
.tab_menu-item:first-of-type {
  min-width: 24%;
  max-width: 28%;
}
  /* is-active style */
.tab_menu-item.is-active 
{
  background-color: #f7f3eb;
  color: #4D1F01;
  padding: 1.3rem 0;
  text-decoration: underline;
}
  /* tab panel style */
.tab_panel-box
{
  /* min-height: 80%; */
  padding: 1rem 0.3rem;
  border-radius: 0.5rem 0.5rem;
  background-color: #f7f3eb;
  display: none;
}

.tab_panel-box.is-show {
  display: block;
}
