/* Login & Register */
#login-card, #register-card{
  background-color: #F7F3EB;
  border-radius: 30px;
}
.login-ttl{
  font-size: 35px;
  color: #4D1F01;
}
#login-btn, #register-btn{
  color: white;
  background-color: #E45900;
}
.login-link, .register-link{
  color: #E45900;
}
.login-bg{
  background-image: url(../imgs/regi.png);
   background-size: cover;
   background-repeat: no-repeat;
}
.already-have-account, .are-you-new{
  color: #4D1F01;
}


*{
  font-family: "Nunito";
  color:#F7F3EB;
}
.navbar{
  background-color: #2E1310;
}
.navbar img {
  height: 2.4em;
  width: 2.6em;
}
.we {
  color: #E45900;
}
.wecook{
  font-size:2rem;
  font-weight: bold;
}
.navbar a {
  text-decoration: none;
  font-weight: bold;
  color: #F7F3EB;
}
.navbar a:visited,
.navbar a:hover{
  color: inherit;
}
.account button{
  font-weight: bold;
  text-decoration: inherit;
  color: #F7F3EB;
}
#account-dropdown:focus{
  color: white;
  }
#account-dropdown:hover{
color: white;
}
.account div{
  background-color: #2E1310;
  color: inherit;
}
.account div a:visited{
  background-color: inherit;
  color: inherit;
  font-weight: bold;
}
.account div a:hover{
  background-color: #F7F3EB;
  color: #2E1310;
  font-weight: bold;
}
#searchbar{
  width: 400px;
  height: 2em;
  outline: 1px solid #F7F3EB;
  border-radius: 0.5rem;
  background-color: #2E1310;
  padding: 0.7em;
  color: #F7F3EB;
  font-family: Bootstrap-icons, "Nunito";
} 
#searchbar::placeholder{
  color: #887569;
}